body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.board {
  cursor: url("images/crosshair-new.png") 15 15, pointer;
  overflow: hidden;
  position: relative;
  height: 700px;
  background-image: url('images/board.png');
  background-position: center;
  background-size: cover;
  width: 100%;
}

.hitZone {
  position: absolute;
  height: 75px;
  width: 75px;
  left: -100px;
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitZone .target {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  animation-name: flapWings;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

@keyframes flapWings {
  0% {
    background-image: url('images/dragon-state-1.png');
  }
  17% {
    background-image: url('images/dragon-state-2.png');
  }
  34% {
    background-image: url('images/dragon-state-3.png');
  }
  53% {
    background-image: url('images/dragon-state-4.png');
  }
  70% {
    background-image: url('images/dragon-state-3.png');
  }
  87% {
    background-image: url('images/dragon-state-2.png');
  }
}

@keyframes move {
  0% {
    display: block;
    left: -50px;
  }

  100% {
    left: calc(100% + 50px);
    display: none;
  }
}
